<section class="skills" id="skills">
  <h2 class="heading">
    <i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span>
  </h2>

  <div class="container">
    <div class="row" id="skillsContainer">
      <div class="bar">
        <div class="info">
          <img src="../../../assets/html.jpeg" />
          <span>HTML</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/css.png" />
          <span>CSS</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/tailwindcss (1).png" />
          <span>TailwindCSS</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/js.png" />
          <span>Javascript</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/angular.jpeg" />
          <span>Angular Js</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/reactjs.png" />
          <span>React.js</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/nodejs.png" />
          <span>Node.js</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/expressjs.png" />
          <span>Express.js</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/firebase.png" />
          <span>Firebase</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/mongodb.png" />
          <span>MongoDB</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/MySQL.png" />
          <span>MySQL</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/C++.png" />
          <span>C++</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/java.png" />
          <span>Java</span>
        </div>
      </div>

      <div class="bar">
        <div class="info">
          <img src="../../../assets/github.png" />
          <span>Github</span>
        </div>
      </div>
    </div>
  </div>
</section>
