<!-- about section starts -->
<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>
    
    <div class="row">

    <div class="image">
        <img draggable="false" class="tilt" src="../../../assets/myimagenew.jpg" alt="">
    </div>
    <div class="content">
        <h3>I'm Naman</h3>
        <span class="tag">Full Stack Developer</span>
        
        <p>
            I'm a passionate full-stack web developer with a solid foundation in the MEAN stack and Firebase. I’ve built scalable, responsive web applications that focus on performance and user experience. Alongside development, I actively enhance my problem-solving abilities by practicing Data Structures and Algorithms on platforms like LeetCode and GeeksforGeeks. I'm committed to continuous learning and growth in both frontend and backend technologies.
        </p>

        
        <div class="box-container">
            <div class="box">
              <p><span> email : </span> namanbansal969&#64;gmail.com</p>
              
            </div>
        </div>
        
        <div class="resumebtn">
            <a href="https://drive.google.com/file/d/1vU7OMKEtiKYag1V0q1yRuiMtfKIl7u65/view?usp=sharing" target="_blank" class="btn"><span>Resume</span>
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>

    </div>
    </div>
</section>