<!-- <header>
  <a href="/" class="logo">
      Naman Bansal
  </a>

  <div id="menu" class="fas fa-bars"></div>
  <nav class="navbar">
      <ul>
            <li><a [ngClass]="{ 'active': currentSection === 'home' }" href="#home">Home</a></li>
            <li><a [ngClass]="{ 'active': currentSection === 'about' }" href="#about">About</a></li>
            <li><a [ngClass]="{ 'active': currentSection === 'skills' }" href="#skills">Skills</a></li>
            <li><a [ngClass]="{ 'active': currentSection === 'education' }" href="#education">Education</a></li>
            <li><a [ngClass]="{ 'active': currentSection === 'work' }" href="#work">Projects</a></li>
            <li><a [ngClass]="{ 'active': currentSection === 'contact' }" href="#contact">Contact</a></li>
      </ul>
  </nav>
</header> -->



<header>
  <a href="/" class="logo">Naman Bansal</a>

  <div id="menu" class="fas fa-bars" (click)="toggleMenu()"></div>

  <nav class="navbar" [class.mobile-open]="menuOpen">
    <ul>
      <li><a [ngClass]="{ 'active': currentSection === 'home' }" href="#home" (click)="closeMenu()">Home</a></li>
      <li><a [ngClass]="{ 'active': currentSection === 'about' }" href="#about" (click)="closeMenu()">About</a></li>
      <li><a [ngClass]="{ 'active': currentSection === 'skills' }" href="#skills" (click)="closeMenu()">Skills</a></li>
      <li><a [ngClass]="{ 'active': currentSection === 'education' }" href="#education" (click)="closeMenu()">Education</a></li>
      <li><a [ngClass]="{ 'active': currentSection === 'work' }" href="#work" (click)="closeMenu()">Projects</a></li>
      <li><a [ngClass]="{ 'active': currentSection === 'contact' }" href="#contact" (click)="closeMenu()">Contact</a></li>
    </ul>
  </nav>
</header>