<section class="home" id="home">
    <div id="particles-js"></div>

    <div class="content">
    <h2>Hi There,<br/> I'm Naman <span>Bansal</span></h2>
    <p>i am into <span class="typing-text"></span></p>
    <a href="#about" class="btn"><span>About Me</span>
      <i class="fas fa-arrow-circle-down"></i>
    </a> 
    <div class="socials">
        <ul class="social-icons">
          <li><a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/naman-bansal-2076a9256/" target="_blank"><i class="fab fa-linkedin"></i></a></li> 
          <li><a class="github" aria-label="GitHub" href="https://github.com/naman-69" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a class="instagram" aria-label="Instagram" href="https://www.instagram.com/naman_bansal969/"><i class="fab fa-instagram" target="_blank"></i></a></li>
        </ul>
      </div>
    </div>
<div class="image">
    <!-- <img draggable="false" class="tilt" src="../../../assets/typing.mp4" alt=""> -->
     <video src="../../../assets/typing.mp4" autoplay loop muted playsinline></video>
</div>
</section>