<section class="work" id="work">

  <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>

  <div class="box-container">

    <!-- <div class="box tilt">
      <img draggable="false" src="./assets/images/projects/MoodTunes.png" alt="" />
      <div class="content">
        <div class="tag">
        <h3>MoodTunes</h3>
        </div>
        <div class="desc">
          <p>Developed a real-time music recommendation system that personalizes suggestions based on user's facial expressions, voice tone, and text input.</p>
          <div class="btns">
         
            <a href="https://github.com/manyamittal25/MoodTunes" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div> 

    <div class="box tilt">
      <img draggable="false" src="./assets/images/projects/carsimulation.png" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Car Simulation</h3>
        </div>
        <div class="desc">
          <p>Developed a self-driving car algorithm using neural networks for real-time sensor fusion and road sign recognition, validated in diverse simulation conditions.</p>
          <div class="btns">
         
            <a href="https://github.com/manyamittal25/Self_Driving_Car_Simulation" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div> 

    <div class="box tilt">
      <img draggable="false" src="./assets/images/projects/buzzletter.png" alt="" />
      <div class="content">
        <div class="tag">
          <h3>BuzzLetter</h3>
        </div>
        <div class="desc">
          <p>Built a scalable SaaS newsletter platform with analytics, automation, and high deliverability, serving 10k+ users.</p>
          <div class="btns">
            <a href="https://github.com/manyamittal25/ENewsLetter" class="btn" target="_blank">
              Code <i class="fas fa-code"></i>
            </a>
            <a href="https://saas-news-letter-c79tl6hef-manya-mittals-projects.vercel.app/" class="btn" target="_blank">
              Visit <i class="fas fa-external-link-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    

    
    <div class="box tilt">
      <img draggable="false" src="./assets/images/projects/healthcare.PNG" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Mental HealthCare Platform</h3>
        </div>
        <div class="desc">
          <p>A supportive web application offering resources, articles, and a chatbot for personalized mental well-being and self-care.</p>
          <div class="btns">
         
            <a href="https://github.com/manyamittal25/MindMatters" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div> 



     <div class="box tilt">
      <img draggable="false" src="./assets/images/projects/invoice.PNG" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Invoicify</h3>
        </div>
        <div class="desc">
          <p>A SaaS Invoice Generator with downloading, saving and sending invoice via mail.</p>
          <div class="btns">
          
            <a href="https://github.com/manyamittal25/Invoicify" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div> 

    


    <div class="box tilt">
      <img draggable="false" src="./assets/images/projects/codeace.png" alt="" />
      <div class="content">
        <div class="tag">
          <h3>Codeace</h3>
        </div>
        <div class="desc">
          <p>A Coding Platform with problem solving and code submission features.</p>
          <div class="btns">
            <a href="https://github.com/manyamittal25/CodeAce-A-coding-Platform" class="btn" target="_blank">
              Code <i class="fas fa-code"></i>
            </a>
            <a href="https://code-ace-a-coding-platform.vercel.app/" class="btn" target="_blank">
              Visit <i class="fas fa-external-link-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
     -->




    <div class="box tilt">
      <img draggable="false" src="../../../assets/tictactoe.avif" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Multiplayer Tic-Tac-Toe</h3>
        </div>
        <div class="desc">
          <p>A multiplayer Tic-Tac-Toe game to fun with the friends</p>
          <div class="btns">
        
            <a href="https://github.com/naman-69/TIC-TAC-TOE" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div> 

</div>



</section>