<section class="education" id="education">

  <h1 class="heading"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>

    <p class="qoute">Education is not the learning of facts, but the training of the mind to think.</p>

    <div class="box-container">

    <div class="box">
        <div class="image">
        <img draggable="false" src="../../../assets/kiet-ghaziabad.png" alt="">
        </div>
        <div class="content">
        <h3>KIET Group Of Institutions, Ghaziabad</h3>
      
        <h4>2022-2026 | Pursuing B.Tech CSE</h4>
        </div>
    </div>

    <div class="box">
      <div class="image">
      <img draggable="false" src="../../../assets/deewan-public-school.avif" alt="">
      </div>
      <div class="content">
      <h3>Dewan Public School,Meerut</h3>
    
      <h4>Batch-2022 | Completed</h4>
      </div>
    </div>

</div>
</section>